<div class="space-y-6">
  <div class="flex items-center gap-4">
    <div class="p-3 bg-primary/10 text-primary rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.25 11.25 6 16.5m0 0v-4.125M6 16.5h4.125M12.75 12.75 18 7.5m0 0v4.125M18 7.5h-4.125" />
      </svg>
    </div>

    <h2 class="text-xl font-semibold">
      Informação
    </h2>
  </div>

  <div class="bg-base-200 p-6 rounded-box shadow-inner">
    <p class="text-lg font-medium">
      <%= notificacao.texto %>
    </p>
  </div>
</div>
