<div class="space-y-6">
  <div class="flex items-center gap-4">
    <div class="p-3 bg-info/10 text-info rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </div>
    <h2 class="text-xl font-semibold">
      Aviso do Sistema
    </h2>
  </div>

  <div class="bg-base-200 p-6 rounded-box shadow-inner">
    <p class="text-lg font-medium">
      <%= notificacao.texto %>
    </p>

    <% if notificacao.respond_to?(:link) && notificacao.link.present? %>
      <div class="pt-8">
        <%= link_to notificacao.link, 
                    target: "_blank", 
                    rel: "noopener", 
                    class: "btn btn-info text-white font-bold gap-2 bg-primary btn-sm sm:btn-md" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
          Veja mais clicando aqui
        <% end %>
      </div>
    <% end %>
  </div>
</div>
