<% content_for :title, "Notificação" %>

<div class="flex-1 flex flex-col w-full p-8">
  <h1 class="text-3xl font-bold mb-6">Notificação</h1>

  <div class="bg-base-100 shadow-md rounded-box p-8">
    <%= render partial: @notificacao.partial_name, locals: { notificacao: @notificacao } %>
    <div class="p-12"></div>
    <%= link_to "Voltar", notificacoes_path,
          class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-primary hover:bg-primary/90! inline-block font-medium" %>
  </div>
</div>

