<div class="flex items-center justify-center min-h-screen">
  <div class="bg-[#1a2236] p-10 rounded-3xl text-center">
    <h1 class="text-3xl font-bold text-green-400 mb-4">
      Pagamento realizado!
    </h1>

    <p class="text-slate-300">
      Seu pagamento foi aprovado com sucesso.
    </p>
  </div>
</div>